@font-face {
    font-family: 'GlacialIndifference';
    src: url('GlacialIndifference-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GlacialIndifference';
    src: url('GlacialIndifference-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root{
    --bg: #f5f5dc;
    --accent: #77867f;
    --second: #4c061d;
    --text: #f5f5dc;
    --font: 'GlacialIndifference';
    --ballSize: 10em;
    --oj: #c17767;
}
*{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#titleBar {
    background-color: var(--accent);
    color: var(--text);
    width: max-content;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
    height: 2em;
    max-height: 2em;
    display: grid;
    place-items: center;
    position: absolute;
    top: calc(90vh - 2em);
    left: 10vw;
}
#titleBar :is(div) {
    display: block;
    background-color: inherit;
    width: inherit;
    max-height: inherit;
}
img{
    height: 1em;
    width: 1em;
    vertical-align: middle;
}
b,a,span{
    background-color: inherit;
}
#textEnter{
    transition: 1s;
    background-color: var(--second);
    color: var(--text);
    width: calc(100vw - 10em);
    height: max-content;
    padding: 1em;
    border-radius: 5px;
    max-height: var(--ballSize);
    position: absolute;
    bottom: 10vh;
    left: calc(100vw + 4em);
    display: grid;
    place-items: start;
    z-index: 100;
}
#textEnter :is(input){
    border: 0.125em solid var(--text);
}
#viewSaved{
    display: none;
}
#saveThis{
    display: none;
}
#teInput{
    background: transparent;
    border-radius: 5px;
}
body{
    max-width: 100vw;
    max-height: 100vh;
    overflow:hidden;
    position: absolute;
    left: 0px;
    top:0px;
    margin:0;
    padding:0;
}
#uvula{
    will-change: transform;
    position: relative;
    width: var(--ballSize);
    height: 100vh;
    top: calc(-50vh + 1.5em);
    left: calc(50vw - (var(--ballSize) / 2));
    z-index: 1;
    background-color: rgba(0,0,0,0);
    transform: rotate(0deg);
    transition: 1s;
    opacity: 0;
}
#uBall{
    position: absolute;
    border-radius: 50%;
    top: calc(100% - var(--ballSize));
    left:0;
    width: var(--ballSize);
    height: var(--ballSize);
    background-color: var(--accent);
}
#uMiniball {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    background-color: var(--accent);
}
#uLine {
    position: absolute;
    top: 50%;
    height: calc(50vh - (var(--ballSize) / 2));
    width: 1em;
    left: calc(50% - 0.5em);
    background-color: var(--accent);
    transition: 1s;
}
#uNameplate {
    position: absolute;
    height: 2em;
    display: grid;
    place-items: center;
    width: max-content;
    background-color: var(--accent);
    color: var(--accent);
    position: absolute;
    top: calc(50% + 4em);
    left: calc(50% + 0.5em);
    color: var(--accent);
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#uBalance {
    position: absolute;
    height: 50%;
    opacity: 0;
    top: 0;
}
.teShape {
    background-color: var(--bg);
    position: absolute;
    border: 0.125em solid var(--second);
    transition: 1s;
    opacity: 0;
    display: grid;
    place-items: center;
}
#displayVideos{
    display: none;
    transition: 0.5s;
    opacity: 0;
    width: 100vw;
    height: calc(100vh - 4em);
    max-height: calc(100vh - 4em);
    background-color: var(--bg);
    color: var(--text);
    position: absolute;
    left: 0;
    top: 0;
}
#displayVideos :is(iframe){
    top: 1.5em;
    position: absolute;
    left: calc((100vw - ((100vh - 9.5em) * (9/16)))/2);
    height: calc(100vh - 9.5em);
    width: calc((100vh - 9.5em) * (9/16));
    background-color: var(--second);
    border-radius: 5px;
}
#buttonHolder{
    position: absolute;
    width: 100vw;
    display: grid;
    height: 4em;
    place-items: center;
    top: calc(100vh - 7em);
    left: 0em;
}
#buttonHolder :is(div){
    position: absolute;
    background-color: var(--second);
    color: var(--text);
    border: 0px solid black !important;
    border-radius: 5px;
    display: grid;
    place-items:center;
    padding: 1em;
}
#leftButton{
    left: calc((100vw - ((100vh - 9.5em) * (9/16)))/2);
}
#rightButton{
    right: calc((100vw - ((100vh - 9.5em) * (9/16)))/2);
}
#swipeScreen{
    display: grid;
    place-items: left;
    display: none;
    opacity: 0;
    transition: 0.5s;
}
#swFirst, #swLine, #swTopic{
    padding-top: 1em;
}
.swText{
    color: var(--second);
    font-size: 1.6em;
}
#swDrag{
    background-color: var(--second);
    color: var(--text);
    width: 10em;
    height: 4em;
    border-radius: 10%;
    padding: 1em;
}
#swGive{
    background-color: var(--accent);
    width: 10em;
    height: 4em;
    border-radius: 10%;
    padding: 1em;
}
#swLine{
    width: calc(100vw - 8em);
    left: 4em;
    height: 0.1em;
}